<!DOCTYPE html>
<html>
<head>
  <title>DiyAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>
    <% if session[:user_id] %>
      <%=  "Logged in with id ##{session[:user_id]}" %>
    <% else %>
      <%=  "Not logged in " %>
    <% end %>
  </h2>

<%= yield %>

</body>
</html>
